body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5e7ea;
            color: #333;
        }

        .header {
            background-color: #a95667;
            text-align: center;
            color: white;
            padding: 20px;
        }

        .header h1 {
            margin: 0;
            font-size: 28px;
        }

        .header p {
            margin: 10px 0 20px;
            font-style: italic;
        }

        .buttons {
            margin-top: 10px;
        }

        .buttons button {
            margin: 5px;
            padding: 10px 20px;
            background-color: #eab5c3;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
        }

        .buttons button:hover {
            background-color: #dcb3c3;
        }

        .nav {
            background-color: #d85f6a;
            text-align: center;
            padding: 10px;
        }

        .nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
        }

        .nav a:hover {
            color: #f9cdd2;
        }

        .main-image img {
            width: 100%;
            height: auto;
        }

        .section {
            text-align: center;
            background-color: #f9cdd2;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        .section h2 {
            color: #a95667;
        }

        .section p {
            margin: 10px 0 20px;
        }

        .footer {
            background-color: #a95667;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .footer a {
            color: #f9cdd2;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }
        
       .circle_image{
            border-radius:50%;
            height:200px;
            width:200px;
            border-color:black;
            border-width:4px;
            margin:30px;
            border-style:solid;
           
            
        }
    .circle_image_top{
            border-radius:50%;
            height:200px;
            width:200px;
            border-color:black;
            border-width:4px;
            margin:10px 20px 5px;
            border-style:solid;
            
    }
    .circle_image_bottom{
            border-radius:50%;
            height:200px;
            width:200px;
            border-color:black;
            border-width:4px;
            margin:15px 20px 5px;
            border-style:solid;
    }
        
    .right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}